/* TODO O BACKGROUND */
.container {
  background-image: url("./img/Background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 9rem;
}

/* MARGEM E ESPAÇAMENTO GERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* DIVISÃO DA TELA */
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* DIV PRINCIPAL RESPONSIVA */
.flex-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* ESPAÇAMENTO ENTRE LOGO E LOGIN */
.logo {
  margin-right: 10rem;
}

/* CARD DO LOGIN */
form {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 2.5rem;
  width: 380px;
  height: 380px;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgb(0 0 0 / 80%), 0 8px 16px rgb(0 0 0 / 80%);
}

/* BOTÃO LOGIN */
form .login {
  outline: none;
  border: none;
  background: #1a920aef;
  padding: 0.9rem 5rem;
  margin-top: 45px;
  border-radius: 0.4rem;
  font-size: 1.1rem;
  color: #fff;
}

form .login:hover {
  background: hsl(123, 90%, 46%);
  cursor: pointer;
}

.input{
  margin-bottom: 20px;
}

.checkbox{
  margin-top: 12px;
}

/* OLHO DA SENHA */
.icon{
  position: absolute;
  cursor: pointer;
  margin-left: -30px;
  margin-top: 18px;
}


@media (max-width: 500px) {
  html {
    font-size: 60%;
  }

  .logo {
    margin: 0;
    
    
  }

  form {
    width: 300px;
    height: fit-content;
  }

  form div {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  form .login {
    font-size: 1.5rem;
  }

  .flex-div {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  html {
    font-size: 60%;
  }

  .logo {
    margin: 0;
    
  }

  form {
    width: 300px;
    height: fit-content;
  }

  form div {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  form .login {
    font-size: 1.5rem;
  }

  .flex-div {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  html {
    font-size: 60%;
  }

  .logo {
    margin: 0;
  }

  form {
    width: 300px;
    height: fit-content;
  }

  form div {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  form .login {
    font-size: 1.5rem;
  }

  .flex-div {
    display: flex;
    flex-direction: column;
  }

  @media (orientation: landscape) and (max-height: 500px) {
    .header {
      height: 90vmax;
    }
  }  
}
